{% extends 'base.html' %}

{% block content %}

{% load carton_tags %}
{% get_cart as cart %}

{% if status %}
  <div class="pt-3 row justify-content-center mx-auto" style="width: 30rem;">
    <h2 class="text-center my-5 col-12">장바구니</h2>
    <div class="p-5 bg-light" style="width: 30rem;">
      <h3 class="text-center my-5">{{ store }}</h3>
      <div>
        <div class="my-3 row"><div class="h5 col-6">장소</div><div class="h6 col-6 text-right">{{ location }}</div></div>
        <div class="my-3 row"><div class="h5 col-12">주문목록</div></div>
        {% for item in cart.items %}
        <div class="row">
          <div class="h6 col-6 text-left">{{ item.product.menu_name }}</div>
          <div class="h6 col-4 text-right my-0"><span class="align-middle" id="cnt-{{ item.product.pk }}">{{ item.quantity }}개</span></div>
          <button data-menu="{{ item.product.pk }}"  type="button" class="btn btn-outline-warning col-1 minusBtn mb-1 py-0 text-body">-</button>
          <button data-menu="{{ item.product.pk }}" type="button" class="btn btn-outline-warning col-1 plusBtn mb-1 py-0 text-body">+</button>
        </div>
          <div id="st-{{ item.product.pk }}" class="h6 col-12 text-right p-0">{{ item.subtotal }}원</div>
          <hr>
        {% endfor %}
        <div class="my-3 row"><div class="h5 col-6">결제 금액</div><div class="h6 col-6 text-right"><span id="spanTotal">{{ cart.total }}</span>원</div></div>
      </div>
    </div>
  </div>
  <div class="row my-5 mx-auto" style="width: 30rem;">
    <form method="post" class="col-12 text-center">
      {% csrf_token %}
      <button class="btn btn-warning">카카오페이로 결제하기</button>
      <div>주의!!! kakao developers에 해당 서버 도메인 등록해야함</div>
    </form>
  </div>
{% else %}
<div class="mt-5 pt-5 row justify-content-center">
  <h2 class="text-center my-5 col-12">장바구니가 비었어요</h2>
  <div class="mt-5 pt-3 text-center">
    <a href="{% url 'main:index' %}" class="btn btn-warning">메인으로 돌아가기</a>
  </div>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const minusBtnList = document.querySelectorAll('.minusBtn')
minusBtnList.forEach(function(minusBtn){
    minusBtn.addEventListener('click', function(event){
        const menuPk = minusBtn.dataset.menu
        // console.log(menuPk)
        axios.get('/cart/minus/', {
            params: {
                menu: menuPk,
            }
        })
         .then(function(res){
            //  console.log('minusBtn')
             const countText = document.querySelector(`#cnt-${ menuPk }`)
             const subTotal = document.querySelector(`#st-${ menuPk }`)
             if (res.data.quantity >= 0) {
                 newCount = res.data.quantity
                 countText.innerText = newCount + '개'
                 newSubTotal = res.data.sub_total
                 subTotal.innerText = newSubTotal + '원'
             }
             spanTotal.innerText = res.data.total
         })
         .catch(function(err){
             console.log(err)
         })
    })
})
const plusBtnList = document.querySelectorAll('.plusBtn')
plusBtnList.forEach(function(plusBtn){
    plusBtn.addEventListener('click', function(event){
        const menuPk = plusBtn.dataset.menu
        const spanTotal = document.querySelector('#spanTotal')
        // console.log(menuPk)
        axios.get('/cart/add/', {
            params: {
                menu: menuPk,
            }
        })
         .then(function(res){
            //  console.log(res)
             const countText = document.querySelector(`#cnt-${ menuPk }`)
             const subTotal = document.querySelector(`#st-${ menuPk }`)
             if (res.data.message === 'WARNING') {
                // console.log('warn')
                $('#staticBackdrop').modal('show');
                const clearAddBtn = document.querySelector('#clearAddBtn')
                clearAddBtn.addEventListener('click', function(event){
                    axios.get('/cart/clear-add/', {
                        params: {
                            menu: menuPk,
                        }
                    })
                     .then(function(res2){
                        newCount = res.data.quantity
                        countText.innerText = newCount + '개'
                        $('#staticBackdrop').modal('hide');
                        spanTotal.innerText = res2.data.total
                        newSubTotal = res2.data.sub_total
                        subTotal.innerText = newSubTotal + '원'
                     })
                })
             } else {
                // console.log(countText)
                newCount = res.data.quantity
                countText.innerText = newCount + '개'
                spanTotal.innerText = res.data.total
                newSubTotal = res.data.sub_total
                subTotal.innerText = newSubTotal + '원'
            }
         })
         .catch(function(err){
             console.log(err)
         })
    })
})
</script>
{% endblock %}