<div class="container mt-5">
<div id="map" class="justify-content-center" style="height:400px;"></div>
</div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=8wyuo7ilvu"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=8wyuo7ilvu&submodules=geocoder"></script>
<script>
var adr = sessionStorage.getItem('adr');
var dadr = sessionStorage.getItem('dadr')
searchAddressToCoordinate(adr);

// 0.00318925‬ 1km 제한
// var house = new naver.maps.LatLngBounds(
//     new naver.maps.LatLng(37.2380651, 131.8562652),
//     new naver.maps.LatLng(37.2444436, 131.8786475));
var map = new naver.maps.Map("map", {
  zoom: 16,
  minZoom: 15,
  // maxBounds: house,
  mapTypeControl: true
});

var infoWindow = new naver.maps.InfoWindow({
  anchorSkew: true
});

map.setCursor('pointer');
var markers = [];
// function searchCoordinateToAddress(latlng) {

//   infoWindow.close();

//   naver.maps.Service.reverseGeocode({
//     coords: latlng,
//     orders: [
//       naver.maps.Service.OrderType.ADDR,
//       naver.maps.Service.OrderType.ROAD_ADDR
//     ].join(',')
//   }, function(status, response) {
//     if (status === naver.maps.Service.Status.ERROR) {
//       if (!latlng) {
//         return alert('ReverseGeocode Error, Please check latlng');
//       }
//       if (latlng.toString) {
//         return alert('ReverseGeocode Error, latlng:' + latlng.toString());
//       }
//       if (latlng.x && latlng.y) {
//         return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
//       }
//       return alert('ReverseGeocode Error, Please check latlng');
//     }

//     var address = response.v2.address,
//         htmlAddresses = [];
    
//     if (address.jibunAddress !== '') {
//         htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
//     }

//     if (address.roadAddress !== '') {
//         htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
//     }

//     infoWindow.setContent([
//       '<div style="padding:10px;min-width:200px;line-height:150%;">',
//       '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
//       htmlAddresses.join('<br />'),
//       '</div>'
//     ].join('\n'));

//     infoWindow.open(map, latlng);
//   });
// }

function searchAddressToCoordinate(address) {
  naver.maps.Service.geocode({
    query: address
  }, function(status, response) {
    if (status === naver.maps.Service.Status.ERROR) {
      if (!address) {
        return alert('Geocode Error, Please check address');
      }
      return alert('Geocode Error, address:' + address);
    }

    if (response.v2.meta.totalCount === 0) {
      return alert('No result.');
    }

    var htmlAddresses = [],
      item = response.v2.addresses[0],
      point = new naver.maps.Point(item.x, item.y);
    if (item.roadAddress) {
      htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
    }

    if (item.jibunAddress) {
      htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
    }

    if (item.englishAddress) {
      htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
    }

    infoWindow.setContent([
      '<div style="padding:10px;min-width:200px;line-height:150%;">',
      '<h4 style="margin-top:5px;">배달 받으실 곳 : '+ address + "번지 " + dadr +'</h4>',
      // htmlAddresses.join('<br />'),
      '</div>'
    ].join('\n'));

    map.setCenter(point);
    infoWindow.open(map, point);
  });
}

// --------------------marker 관련-----------------------------
function getAddressToCoordinate(address) {
  naver.maps.Service.geocode({
    query: address
  }, function(status, response) {
    if (status === naver.maps.Service.Status.ERROR) {
      if (!address) {
        return alert('Geocode Error, Please check address');
      }
      return alert('Geocode Error, address:' + address);
    }

    if (response.v2.meta.totalCount === 0) {
      return alert('No result.');
    }

    var item = response.v2.addresses[0],
    point = new naver.maps.Point(item.x, item.y),
    // ----------가져온 좌표값으로 marker 생성------------------
    marker = new naver.maps.Marker({
      position: new naver.maps.LatLng(point),
      map: map
    });
    markers.push(marker)
    // console.log(marker)
    marker = null
  })
}
// ------------------------------------------------------------
function initGeocoder() {
  if (!map.isStyleMapReady) {
    return;
  }

  // map.addListener('click', function(e) {
  //   searchCoordinateToAddress(e.coord);
  // });

  // $('#address').on('keydown', function(e) {
  //   var keyCode = e.which;

  //   if (keyCode === 13) { // Enter Key
  //     searchAddressToCoordinate($('#address').val());
  //   }
  // });

  // $('#submit').on('click', function(e) {
  //   e.preventDefault();

  //   searchAddressToCoordinate($('#address').val());
  // });

  // --------------------marker 관련---------------------
  var adr = sessionStorage.getItem('adr');
  searchAddressToCoordinate(adr);
  let stores = '{{ storesData|escapejs }}'
  // python/main/views/stores에서 storesData라는 이름으로 던진 것을 받아
  // 오브젝트배열로 변환하고 forEach로 각각 getAddressToCoordinate 를 실행합니다.
  stores = JSON.parse(stores)
  stores.forEach(function(store){
    getAddressToCoordinate(store.fields.store_location)
  })
  // marker가 담겨있는 배열입니다. == markers
  // https://navermaps.github.io/maps.js.ncp/docs/tutorial-marker-viewportevents.example.html
  // 참고하여 markers 배열과 infoWindows(만들지 않았음)배열의 인덱스를 맞춰
  // 이벤트 핸들러 설정해주시면 되겠습니다.
  // console.log(markers)
}

// naver.maps.onJSContentLoaded = initGeocoder;
naver.maps.Event.once(map, 'init_stylemap', initGeocoder);
</script>