{% extends 'base.html' %}

{% block body %}
<!--비동기 요청으로 체크된 항목들 장바구니로 날리겠습니다.-->
    {% for menu in menu_list %}
        <h5>{{ menu.menu_name }}</h5>
        <p>{{ menu.menu_info }}</p>
        <span>{{ menu_price }}</span>
        <div>
            {% for plus_menu in menu.plusmenu_set.all %}
                <span>{{ plus_name }}</span>
                <span>{{ plus_price }}</span>
                <input data-menu="{{ menu.pk }}" data-plus="{{ plus_menu.pk }}" class="plusCheck" type="checkbox">
            {% endfor %}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>
    {% endfor %}
    <button id="submitBtn"></button>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let cart = {}
        const submitBtn = document.querySelector('#submitBtn')
        submitBtn.addEventListener('click', function(event){
            const plusCheckList = document.querySelectorAll('.plusCheck')
            plusCheckList.forEach(function(cb){
                if (cb.checked) {
                    const menuPk = cb.dataset.menu
                    menuPkString = menuPk.toString()
                    const plusPk = cb.dataset.plus
                    plusPkString = plusPk.toString()
                    if (cart.hasOwnProperty()){
                        
                    }
                }
            })
        })
    </script>
{% endblock %}