{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/style.css' %}" type="text/css" media="screen">
{% load carton_tags %}
{% get_cart as cart %}
    <h2 class="mt-3 ml-3">{{ store.store_name }}</h2>
    <div class="card m-3 card-style c-style">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="{{ store.store_image.url }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <p class="card-text">주소 : {{ store.store_location }}</p>
            <p class="card-text"><small class="text-muted">가게 전화번호 : {{ store.store_phone }}</small></p>
        </div>
        </div>
    </div>
    </div>
    <hr>
    {% for menu in menu_list%}
    <div class="card m-3 card-style c-style">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ menu.menu_image.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5>{{ menu.menu_name }}</h5>
                    <p>{{ menu.menu_info }}</p>
                    <span>{{ menu.menu_price }} 원</span>
                    <div class="btn-group btn-group-sm" role="group">
                        <button data-menu="{{ menu.pk }}"  type="button" class="btn btn-light btn-group-sm minusBtn">-</button>
                        <input id="cnt-{{ menu.pk }}" type="button" class="btn btn-outline-secondary btn-group-sm" value="0" readonly>
                        <button data-menu="{{ menu.pk }}" type="button" class="btn btn-light btn-group-sm plusBtn">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    <a href="{% url 'shopping:show_cart' %}" id="submitBtn" class="btn btn-info ml-3"><span id="spanTotal" class="badge badge-light">{{ cart.total }}</span>주문하기</a>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">장바구니에 담기</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                다른 음식점에서 이미 담은 메뉴가 있습니다. 담긴 메뉴를 취소하고 새로운 음식점에서 메뉴를 담을까요?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">취소</button>
              <button type="button" class="btn btn-danger" id="clearAddBtn">확인</button>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const minusBtnList = document.querySelectorAll('.minusBtn')
        minusBtnList.forEach(function(minusBtn){
            minusBtn.addEventListener('click', function(event){
                const menuPk = minusBtn.dataset.menu
                // console.log(menuPk)
                axios.get('/cart/minus/', {
                    params: {
                        menu: menuPk,
                    }
                })
                 .then(function(res){
                    //  console.log('minusBtn')
                     const countText = document.querySelector(`#cnt-${ menuPk }`)
                     if (countText.value > 0) {
                         newCount = Number(countText.value) - 1
                         countText.value = newCount
                     }
                     spanTotal.innerText = res.data.total
                 })
                 .catch(function(err){
                     console.log(err)
                 })
            })
        })
        const plusBtnList = document.querySelectorAll('.plusBtn')
        plusBtnList.forEach(function(plusBtn){
            plusBtn.addEventListener('click', function(event){
                const menuPk = plusBtn.dataset.menu
                const spanTotal = document.querySelector('#spanTotal')
                // console.log(menuPk)
                axios.get('/cart/add/', {
                    params: {
                        menu: menuPk,
                    }
                })
                 .then(function(res){
                    //  console.log(res)
                     if (res.data.message === 'WARNING') {
                        // console.log('warn')
                        $('#staticBackdrop').modal('show');
                        const clearAddBtn = document.querySelector('#clearAddBtn')
                        clearAddBtn.addEventListener('click', function(event){
                            axios.get('/cart/clear-add/', {
                                params: {
                                    menu: menuPk,
                                }
                            })
                             .then(function(res2){
                                const countText = document.querySelector(`#cnt-${ menuPk }`)
                                newCount = Number(countText.value) + 1
                                countText.value = newCount
                                $('#staticBackdrop').modal('hide');
                                spanTotal.innerText = res2.data.total
                             })
                        })
                     } else {
                        const countText = document.querySelector(`#cnt-${ menuPk }`)
                        // console.log(countText)
                        newCount = Number(countText.value) + 1
                        countText.value = newCount
                        spanTotal.innerText = res.data.total
                    }
                 })
                 .catch(function(err){
                     console.log(err)
                 })
            })
        })
    </script>
{% endblock %}