{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/style.css' %}" type="text/css" media="screen">
<div class="container">
  <div id="textbody" class="row">
    <div data-stores="{{ stores }}" id="storeData" class="col-md-4 offset-md-4">
      <h3 class="text-center my-5 pb-1"><span>{{ store_name }}</span></h3>
    </div>
  </div>
  {% include 'maps/index.html' %}

  {% for store in stores %}
  <a href="{% url 'main:menu' store.pk %}" style="text-decoration: none; color: #000000;">
    <div class="card m-3" style="max-width: 540px; cursor: pointer;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ store.store_image.url }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ store.store_name }}</h5>
            <p class="card-text">주소 : {{ store.store_location }}</p>
            <p class="card-text"><small class="text-muted">가게 전화번호 : {{ store.store_phone }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}